svg {
  max-width: 200px;
}

.st2 {
  fill: #3d9ae2;
}

.st4 {
  fill: none;
  stroke: #ff9811;
  stroke-width: 1;
  stroke-miterlimit: 5;
}

#stream-line {
  animation: disappear 5s 0.5s linear forwards;
  transform: translateY(-1px);
}

#stream {
  animation: shift 0.2s linear infinite;
}

#sand-up {
  transform: translateY(0px);
  animation: drainSand 6s ease-in-out forwards;
}

#sand-down {
  transform: translateY(0px);
  animation: fillSand 6s ease-in-out forwards;
}

@keyframes shift {
  0% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes disappear {
  0% {
    transform: translateY(0px);
  }
  97% {
    transform: translateY(0px);
  }
  99% {
    transform: translateY(4.5px);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes fillSand {
  to {
    transform: translateY(-22px);
  }
}

@keyframes drainSand {
  to {
    transform: translateY(23px);
  }
}
